.jobContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70dvw;
    height: 70dvh;    
    flex-direction: column;  
    /* padding: 4px 16px; */
    /* overflow: scroll; */
}

.jobCardButton{
    background-image: url('/factory1.png');
    background-size: cover; /* Make sure the whole image is visible */
    background-position: center;
    background-repeat: no-repeat;
}
